transformers==4.35.2
sentencepiece
fire
fairscale
sentence-transformers>=2.2.2
scikit-learn==1.2.0
tqdm
datasets>=2.2.0
scipy
requests>=2.26.0
rich
h5py
joblib
matplotlib
accelerate
deepspeed
protobuf
openai==0.28
wandb
packaging
ninja
beir
jsonlines
evaluate
peft
InstructorEmbedding
seaborn